.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-body {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
  }
  
  /* @media (max-width: 768px) {
    .app-body {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
    }
  } */