.dashboard {
    padding: 2rem;
    width: 400px;
    height: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
  }
  
  .chart-container {
    width: 300px; /* Adjust the width to make the chart smaller */
    height: 300px; /* Set the same height to maintain the aspect ratio */
  }
  
  .chart-container canvas {
    width: 100% !important; /* Ensure the chart scales to fit the container */
    height: 100% !important;
  }